<div class="dropdown" style="white-space: nowrap;">

    <img class="img-fluid rounded countrySelectorToggle" type="button" aria-haspopup="true"
        aria-expanded="false" style="width: 35px; aspect-ratio: 35/23 auto;" alt="Country Flag"
        src="/static/main/img/flag_icons/{% if request.LANGUAGE_CODE == 'en' %}US{% else %}{{ request.LANGUAGE_CODE|upper }}{% endif %}.svg"/>

    <i class="fa-solid fa-caret-down pr-2 countrySelectorToggle" type="button"></i>

    <div class="dropdown-menu bg-app shadow rounded-lg border-0 p-3 countrySelector"
        aria-labelledby="countrySelector">

        <span class="dropdown-item"><b>Select country/language</b></span>

        <form class="language-form" action="{% url 'set_local_language' %}" method="post">        
            {% csrf_token %}
            <input type="hidden" name="language" value="fr">
            <button class="dropdown-item py-2 pr-5" type="submit"><img class="pr-2 rounded"
                    alt="Bosnia Flag" src="/static/main/img/flag_icons/FR.svg"
                    style="width: 35px;"><span class="ps-2">French</span></button>
        </form>
        <form class="language-form" action="{% url 'set_local_language' %}" method="post">        
            {% csrf_token %}
            <input type="hidden" name="language" value="en">
            <button class="dropdown-item py-2 pr-5" type="submit"><img class="pr-2 rounded"
                    alt="US Flag" src="/static/main/img/flag_icons/US.svg" style="width: 35px;"><span
                    class="ps-2">English</span></button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.language-form').on('submit', function (event) {
            event.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>