<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3 px-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center">
                <a href="/">
                    <img src="/static/main/img/logo.jpg" id="logo-img" alt="">
                </a>
            </li>

            <div class="align-items-center px-2 d-flex">
                <div class="dropdown" style="white-space: nowrap;">

                    <img class="img-fluid rounded countrySelectorToggle" type="button" aria-haspopup="true"
                        aria-expanded="false" style="width: 35px; aspect-ratio: 35/23 auto;" alt="Country Flag"
                        src="/static/main/img/flag_icons/US.svg" />

                    <i class="fa-solid fa-caret-down pr-2 countrySelectorToggle" type="button"></i>

                    <div class="dropdown-menu bg-app shadow rounded-lg border-0 p-3 countrySelector"
                        aria-labelledby="countrySelector">

                        <span class="dropdown-item"><b>Select country/language</b></span>

                        <form class="language-form" method="post">
                            <input type="hidden" name="language" value="ba">
                            <input type="hidden" name="currency" value="BAM">
                            <button class="dropdown-item py-2 pr-5" type="submit"><img class="pr-2 rounded"
                                    alt="Bosnia Flag" src="/static/main/img/flag_icons/FR.svg"
                                    style="width: 35px;"><span class="ps-2">French</span></button>
                        </form>
                        <form class="language-form" method="post">
                            <input type="hidden" name="language" value="en">
                            <input type="hidden" name="currency" value="USD">
                            <button class="dropdown-item py-2 pr-5" type="submit"><img class="pr-2 rounded"
                                    alt="US Flag" src="/static/main/img/flag_icons/US.svg" style="width: 35px;"><span
                                    class="ps-2">English</span></button>
                        </form>
                    </div>
                </div>
            </div>



        </ul>
        <ul class="navbar-nav m-auto">

            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>


        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-basic dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/main/img/profile.svg" id="navbar-user-icon" alt="">
                    </button>
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                        <span class="d-block m-auto text-center small fw-500">Hello, {{ request.user.username}}</span>
                        <span class="text-muted d-block m-auto text-center small">
                            {{ request.user.email|slice:":13" }}
                        </span>
                        <a class="dropdown-item py-3 mt-3" href="/logout">Logout</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="/profile">
                    <a class="btn btn-primary bg-white rounded px-3" href="/login">Launch The Advisor</a>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-primary rounded px-3" href="/register">Sign up</a>
            </li>

            <li class="nav-item">
                <a class="btn btn-basic bg-white border rounded px-3" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $('.countrySelectorToggle').on('click', function () {
            $('.countrySelector').toggleClass('show');
        });
    });
</script>